/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  max-width: 1024px;
  width: 100%;
  background: var(--background);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-attachment: fixed;
  background-image: var(--image);
  object-fit: cover;
  object-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.header {
  min-height: 668px;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  width: 100%;
  position: relative;
  padding: 20px;
}

.header__rec {
  position: absolute;
  top: 20px;
  right: 20px;
}

.header__rec::after {
  content: 'rec';
  display: block;
  position: absolute;
  color: rgb(var(--triangle));
  top: 0px;
  right: 30px;
  text-transform: uppercase;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.header__rec::before {
  content: '';
  display: block;
  width: 9px;
  min-height: 9px;
  border-radius: 50%;
  background-color: rgb(var(--triangle));
  position: absolute;
  top: 10px;
  right: 10px;
  box-shadow: 0 0 4px 2px rgb(var(--triangle));
}

.decorated-zone:after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid rgb(var(--triangle));
  border-left: 1px solid rgb(var(--triangle));
}

.decorated-zone:before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
  border-top: 1px solid rgb(var(--triangle));
  border-right: 1px solid rgb(var(--triangle));
}

.header__theme-menu {
  display: grid;
  align-self: flex-start;
  justify-self: center;
}

.header__theme-menu-list {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: 70px 70px 70px;
  gap: 10px;
}

.header__theme-menu-item {
  height: 100%;
}

.header__theme-menu-button {
  background-color: inherit;
  width: 100%;
  height: 100%;
  padding: 0%;
  border: none;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  color: rgb(var(--triangle));
}

.header__theme-menu-button:active {
  outline: 1px solid;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid rgb(var(--triangle));
  outline: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(var(--triangle), 0.4);
  cursor: pointer;
  
}

.header__theme-menu-button_active {
  outline: 1px solid;
  pointer-events: none;
}

.header__title {
  display: flex;
  align-self: flex-start;
  font-family: IBM Plex Mono, sans-serif;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 129.53px;
  height: 100%;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  position: relative;
  right: 20px;
}

.header__text {
  display: flex;
  align-self: center;
  justify-self: flex-end;
  max-width: 491px;
  width: 100%;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;  
  background-color: var(--title-decor);
  color: var(--title-decor-text);
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.focus {
  /* grid-template-columns: 315px 649px; */
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center;
  padding-top: 60px;
  position: relative;
  grid-template-columns: minmax(315px, 1fr);
}

.focus-content{
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.focus-card{
  row-gap: 10px;
  grid-column: 2/2;
}

.focus-section {
  display: grid;
}

.focus-card__title{
  grid-row-start: 1;
  grid-row-end: 3;
  color: var(--title-color-text);
  width: 100%;
  background-color: var(--title-decor);
  color: var(--title-decor-text);
  display: flex;
  align-items: flex-start;
}

.focus-card__text{
  font-weight: 400;
  color: var(--accent-text);
}

.focus__title {
  grid-row-start: 1;
  grid-row-end: 3;
  color: var(--title-color-text);
}

.text__link {
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-shadow: 2px 2px 0 var(--title-decor);
  color: var(--accent-text);
  text-decoration: none;
}

.text__link:hover {
  border-bottom: 1px solid var(--accent-text);
}

.text__link:focus {
  outline: 1px solid var(--accent-text);
}

.focus__text:last-of-type {
  margin-bottom: 0px;
}

.concentration {
  width: 100%;
  position: relative;
  margin-top: 80px;
}

.concentration__title {
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  max-width: 315px;
  width: 100%;
  color: var(--title-color-text);
}

.concentration-container {
  flex-wrap: wrap;
  height: 100%;
  margin-top: 20px;
  row-gap: 10px;
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 315px);
  grid-auto-columns: 315px;
}

.concentration-card {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}

.concentration-container__title {
  width: 100%;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--title-decor);
  color: var(--title-decor-text);
}

.concentration-container__text {
  width: 100%;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  color: var(--accent-text);
}

.attention {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(315px, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 80px;
  justify-content: center;
}

.attention__title {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 7;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--title-color-text);
}

.attention__title-decor {
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--title-decor);
  color: var(--title-decor-text);
}

.attention-card{
  grid-column-start: 2;
  grid-column-end: 2;
}

.attention__text-title {
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  margin-bottom: 10px;
  background-color: var(--title-decor);
  color: var(--title-decor-text);
}

.attention__text {
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  margin-bottom: 20px;
  color: var(--accent-text);
}

.attention__text:last-of-type {
  margin-bottom: 0%;
}

.gallery {
  margin-top: 80px;
  width: 100%;
}

.gallery__title {
  margin-bottom: 20px;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--title-decor);
  color: var(--title-decor-text);
}

.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  grid-template-columns: minmax(315px, 1fr);
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center
}

.gallery-container__sunset {
  grid-column: 1/3;
}

.gallery-container__ice-cream {
  grid-column: 3/4;
  grid-row: 1/3;
}

.gallery-container__tape {
  grid-column: 1/2;
  grid-row: 2/4;
}

.gallery-container__books {
  grid-column: 2/2;
  grid-row: 2/2;
}

.gallery-container__street {
  grid-column: 2/4;
  grid-row: 3/3;
}

.footer {
  width: 100%;
  max-width: 1024px;
  min-height: 668px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  position: relative;
}

.footer__text {
  font-family: IBM Plex Mono, sans-serif;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 129.53px;
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--title-color);
}

@media screen and (max-width:1023px) {

  .header__theme-menu {
    align-self: center;
    justify-self: flex-end;
  }

  .header__theme-menu-list {
    grid-template-columns: 70px;
  }

  .header__title {
    line-height: 99px;
    text-align: left;
  }

  .header__text {
    max-width: 364px;
  }

  .focus {
    grid-template-columns: minmax(236px, 1fr);
  }


  .concentration__title {
    max-width: 236px;
  }

  .concentration-container {
    flex-wrap: nowrap;
    gap: 0%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .attention {
    grid-template-columns: minmax(236px, 1fr);
  }

  .gallery-container {
    grid-template-columns: minmax(229px, 1fr);
  }

  .footer {
    max-width: 768px;
  }

  .footer__text {
    line-height: 99px;
  }

}

@media screen and (max-width:767px) {
  .header {
    padding: 10px;
  }

  .decorated-zone:after {
    bottom: 10px;
    left: 10px;
  }

  .decorated-zone:before {
    top: 10px;
    right: 10px;
  }

  .header__rec::after {
    top: -10px;
    right: 18px;
  }

  .header__rec::before {
    top: -2px;
    right: 0px;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 95.7px;
    max-width: 355px;
    width: 100%;
    align-self: center;
    position: static;
  }

  .header__text {
    max-width: 355px;
  }

  .content{
    padding-left: 10px;
    padding-right: 10px;
  }

  .focus {
    padding-top: 40px;
  }

  .focus__title {
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .focus-card{
    grid-column: 1/1;
  }

  .concentration {
    margin-top: 50px;
  }

  .concentration__title {
    max-width: 355px;
  }

  .attention {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .gallery {
    margin-top: 50px;
  }

  .gallery__title {
    margin-bottom: 10px;
  }

  .gallery-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
  
  .footer {
    max-width: 375px;
    margin-top: 40px;
  }

  .footer__text {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

}