/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root{
  --accent-color: #FF0070;   
    --title-color: #FFC2E6;
    --title-decor: #FF8DCB;
    --triangle: 53, 52, 48;
    --background: #FFF1F7;
    --image: url(../images/cover-image-light.png);
    --accent-text: #353430;
}